html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*Header styles start */
.wrapper{
    max-width: 1060px;
    margin: 0 auto;
}
.wrapper_large{
    max-width: 1262px;
    margin: 0 auto;
}
.section_title{
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    position: relative;
    padding-bottom: 10px;
}
.section_title::after{
    display: block;
    content: '';
    width: 253px;
    height: 3px;
    background-color: #006DFE;
    position: absolute;
    bottom: 0;
    left: 0;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
body{ 
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: normal;
    color: black;
}
.header_wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 56px;
}
.header_ul{
    display: flex;
    flex-wrap: wrap;
}
.header_li{
    margin-right: 82px;
}
.header__item:last-child{
    margin-right: 0;
}
.header_li_link{
    font-size: 18px;
    color: white;
    text-decoration: none;
}
.header_li_link:hover, .header_li_link:focus, .header_li_link:active{
    opacity: .75;
}
/*Header styles end */


/*Intro styles start */
.intro{
height: 100vh;
background: url(/img/png/intro.png) no-repeat;
background-size: cover;
padding-top: 263px;
}
.intro_title{
    font-weight: 500;
    font-size: 50px;
    color: white;
    max-width: 619px;
    margin-bottom: 22px;
    line-height: 60px;
}
.intro_subtitle{
    color: white;
    font-weight: 400;
    font-size: 16px;
    max-width: 546px;
    margin-bottom: 59px;
    line-height: 24px;
}
.serch_class_p{
    display:flex;
    flex-wrap: wrap;
}
.search_fieldset{
    background: url(/img/png/Oval.png) no-repeat left 6px;
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid #BFC0C5;
    margin-right: 60px;
    width: 297px;
    padding-left: 43px;
    padding-bottom: 22px;
    font-weight: 500;
    font-size: 18px;
    color: white;
}
.search_fieldset::placeholder{
    font-weight: 500;
    font-size: 18px;
    color: white;
}
.search_p{
    padding: 15px 39px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    background: #1B7DFF no-repeat;
    color: white;
    border: 0;
}
.search_p:hover, .search_p:focus, .search_p:active{
    opacity: .75;
}
/* Intro styles end */

/* Benefists styles start */
.benefits{
    margin-bottom: 131px;
}

.benefits_wrap{
    max-width: 1262px;
    background-color: #fff;
    margin: auto;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
    position: relative;
}

.benefits_title{
    width: 1062px;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    padding: 93px 100px 88px 100px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    background-color: #fff;
}

.benefits__cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 55px;
    padding: 0 100px;
}
.benefits__card{
    grid-column: span 1;
    margin-bottom: 112px;
}

.benefits__card-pic{
    max-width: 66px;
    margin-bottom: 37px;
}
.benefits__card-thumb{
    display: block;
}

.benefits__card-title{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 26px;
}

.benefits__card-desc{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 39px;
}

.benefits__card-more{
    display: inline-block;
    padding-right: 59px;
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    text-decoration: none;
    background: url(/img/png/Shape\(1\).png) no-repeat 95% center;
    transition: .2s all;
}

.benefits__card-more:hover, .benefits__card-more:focus{
    background: url(/img/png/Shape\(1\).png) no-repeat right center;
}

/* Benefits styles end */

/* Places styles start */

.places_title{
    
}
.places_container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;

}
.places_link{
    color: #006DFE;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    padding-right: 59px;
    background: url(/img/png/Shape\(1\).png) no-repeat 95% center;
}
.places_link:hover, .places_link:focus{
    opacity: 0.65;
}
.places_cards{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
}
.places_card{
    position: relative;
}
.places_card::after{
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(21, 24, 36, 0.4);
    position: absolute;
    top: 0;
    left: 0;
}
.places_card_size{
    grid-column: span 3;
}
.places_card_size_sm{
    grid-column: span 2;
}
.places_card_png{
    object-fit: cover;
    width: 100%;
}
.places_card_png_lg{
    height: 354px;
}
.places_card_png_sm{
    height: 283px;

}
.places_card_title{
    font-size: 50px;
    line-height: 60px;
    color: #fff;
    position: absolute;
    bottom: 27px;
    left: 29px;
    z-index: 3;
}